<!DOCTYPE html><html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Damian Avila">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change the IPython slides defaults with an IPython config file | Damian's blog</title>
    
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
    },
    displayAlign: 'left', // Change this to 'center' to center equations.
    "HTML-CSS": {
        styles: {'.MathJax_Display': {"margin": 0}}
    }
});
</script>

    
        
            <link href="../assets/css/bitter.css" rel="stylesheet" type="text/css">
        
        <link href="../assets/css/main.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/ipython.min.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/nikola_ipython.css" rel="stylesheet" type="text/css">
        
    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    
        
            
                <link rel="alternate" type="application/rss+xml" title="RSS (en)" href="../rss.xml">
            
                <link rel="alternate" type="application/rss+xml" title="RSS (es)" href=".././es/rss.xml">
            
        
    
    

    

    



    
</head>

<body>
    <section class="social">
        <ul>
<!--        <h1 id="blog-title">
            <a href="/" title="Damian's blog">Damian's blog</a>
        </h1>
        
        
        <small>
            Also available in:&nbsp;
            
    
        
    
        
            <a href="/./es/index.html">Español</a>
        
    

        </small>
        
         -->
        
    
        
            <li><a href="../index.html" title="Home"><i class="icon-home"></i></a></li>
        
    
        
            <li><a href="../archive.html" title="Archives"><i class="icon-folder-open-alt"></i></a></li>
        
    
        
            <li><a href="../categories/index.html" title="Tags"><i class="icon-tags"></i></a></li>
        
    
        
            <li><a href="../rss.xml" title="RSS"><i class="icon-rss"></i></a></li>
        
    
        
            <li><a href="../portfolio/portfolio.slides.html" title="Portfolio"><i class="icon-briefcase"></i></a></li>
        
    
        
            <li><a href="../stories/about-me.html" title="About me"><i class="icon-user"></i></a></li>
        
    
        
            <li><a href="https://twitter.com/damian_avila" title="My Twitter"><i class="icon-twitter"></i></a></li>
        
    
        
            <li><a href="https://github.com/damianavila" title="My Github"><i class="icon-github"></i></a></li>
        
    
        
            <li><a href="https://plus.google.com/u/0/106896109587369688379/posts" title="My Google+"><i class="icon-google-plus"></i></a></li>
        
    

<!--         -->
        </ul>
    </section>
    <section class="page-content">
        <div class="content" rel="main">
            
    <div class="post">
    
    <h1>Change the IPython slides defaults with an IPython config file</h1>
    

        <div class="meta">
            <div class="authordate">
                <time class="timeago" datetime="2013-09-16T19:47:33">2013-09-16 19:47</time>
            </div>
            
    
        
            
        
            
        
    

            
    
          |  
        <a href="change-the-ipython-slides-defaults-with-an-ipython-config-file.ipynb" id="sourcelink">Source</a>
    

            
    
    <div class="tags">
        <ul>
        More posts about:  
        
            <li><a class="tag" href="../categories/python.html">python</a></li>
        
            <li><a class="tag" href="../categories/ipython.html">IPython</a></li>
        
            <li><a class="tag" href="../categories/nbconvert.html">nbconvert</a></li>
        
            <li><a class="tag" href="../categories/reveal.html">reveal</a></li>
        
            <li><a class="tag" href="../categories/slideshow.html">slideshow</a></li>
        
            <li><a class="tag" href="../categories/config.html">config</a></li>
        
            <li><a class="tag" href="../categories/jinja.html">jinja</a></li>
        
        </ul>
    </div>
    

        </div>
        <div class="body">
            <div class="text_cell_render border-box-sizing rendered_html">
<p>Some people are asking me how to change the <code>IPython slides's</code> defaults. You can see the description of the request <a href="http://stackoverflow.com/questions/18820253/modifying-reveal-js-defaults-in-ipython-notebook-slide-generation">here</a>. Essentially, he wants to change the default transition between the slides.</p>
<p>To solve this question, we introduce the notion of IPython config files, which let us easily change <em>things</em> inside <code>Ipython.nbconvert</code> (the library where the <code>IPython slides</code> lives) to achieve our desires, at least in the slideshow generation issue ;-)</p>
<p>First of all, you need to know some details: <!-- TEASER_END --></p>
<ul>
<li>The <code>IPython slides</code> are generated using a series of <code>Jinja</code> templates, so we are going to modify one of the templates to render the slideshow accordingly with our own defaults.</li>
<li>The <code>IPython.nbconvert</code> library was developed taking into account the need from some users to use customized <code>things</code> (where <code>thing</code> will be a <code>template</code> in this case, but we could modify other parts of <code>IPython.nbconvert</code>, probably I will cover this ideas in other posts).</li>
<li>The <code>IPython</code> machinery is very configurable through a <code>Traitlets</code> system! And because of this feature, <code>IPython.nbconvert</code> is able to take a custom config file and use it to render our <code>IPython slides</code> (or any other <code>IPython.nbconvert</code> <em>formats</em>).</li>
</ul>
<p>OK, can you show me an example config file? Of course, here we go:</p>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">
In [1]:
</div>
<div class="input_area box-flex1">
<div class="highlight"><pre><span class="o">!</span>cat /media/datos/Ejemplos/slides_config.py
</pre></div>

</div>
</div>

<div class="vbox output_wrapper">
<div class="output vbox">


<div class="hbox output_area"><div class="prompt"></div>
<div class="box-flex1 output_subarea output_stream output_stdout">
<pre>
c = get_config()

c.Exporter.template_file = 'default_transition'

</pre>
</div>
</div>

</div>
</div>

</div>
<div class="text_cell_render border-box-sizing rendered_html">
<p>From the IPython docs:</p>
<blockquote>
<p>A configuration file is simply a pure Python file that sets the attributes of a global, pre-created configuration object. This configuration object is a Config instance. While in a configuration file, to get a reference to this object, simply call the get_config() function. We inject this function into the global name-space that the configuration file is executed in,</p>
</blockquote>
<p>So, we have to call the <code>get_config()</code> function and then use a custom template called <code>'default_transition'</code> and assign it to <code>c.Exporter.template_file</code> attribute.</p>
<p>Oh, we need to write the <code>'default_transition'</code> template yet, so here we go... again:</p>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">
In [2]:
</div>
<div class="input_area box-flex1">
<div class="highlight"><pre><span class="o">!</span>cat /media/datos/Ejemplos/default_transition.tpl
</pre></div>

</div>
</div>

<div class="vbox output_wrapper">
<div class="output vbox">


<div class="hbox output_area"><div class="prompt"></div>
<div class="box-flex1 output_subarea output_stream output_stdout">
<pre>
{%- extends 'slides_reveal.tpl' -%}


{% block body %}

{{ super() }}

&lt;script&gt;

Reveal.initialize({

    // Display controls in the bottom right corner
    //controls: true,

    // Display a presentation progress bar
    //progress: true,

    // Push each slide change to the browser history
    //history: false,

    // Enable keyboard shortcuts for navigation
    //keyboard: true,

    // Enable touch events for navigation
    //touch: true,

    // Enable the slide overview mode
    //overview: true,

    // Vertical centering of slides
    //center: true,

    // Loop the presentation
    //loop: false,

    // Change the presentation direction to be RTL
    //rtl: false,

    // Number of milliseconds between automatically proceeding to the
    // next slide, disabled when set to 0, this value can be overwritten
    // by using a data-autoslide attribute on your slides
    //autoSlide: 0,

    // Enable slide navigation via mouse wheel
    //mouseWheel: false,

    // Transition style
    transition: 'concave', // default/cube/page/concave/zoom/linear/fade/none

    // Transition speed
    //transitionSpeed: 'default', // default/fast/slow

    // Transition style for full page backgrounds
    //backgroundTransition: 'default', // default/linear/none

    // Theme
    theme: 'sky' // available themes are in /css/theme

});

&lt;/script&gt;

&lt;/body&gt;
{% endblock body %}

</pre>
</div>
</div>

</div>
</div>

</div>
<div class="text_cell_render border-box-sizing rendered_html">
<p>In the first line, <code>{%- extends 'slides_reveal.tpl' -%}</code> we tell to the <code>Jinja</code> system that we are going to extend <code>slides_reveal</code> template (the default one, which <code>IPython.nbconvert</code> uses to build our common slides by default). Then, inside the <code>{% block body %}</code>, we call <code>super()</code>:</p>
<p>From the <code>Jinja</code> docs:</p>
<blockquote>
<p>Super Blocks It’s possible to render the contents of the parent block by calling super.</p>
</blockquote>
<p>We did it in this way because we want to render all the parent content and, after that, add our own content, essentially a config script for Reveal.js, calling <code>Reveal.initialize</code>.</p>
<p>OK, I have written a lot of configurable options you can play with, but I only left uncommented (and hence, they will be applied) the <code>transition: 'concave'</code> and <code>theme: 'sky'</code> options with my new choices, you can use your own ones.</p>
<p>Finally, you have to use the <code>IPython.nbconvert</code> library from command line, as usual, but pointing to the <code>IPython</code> config file you pretend to apply:</p>
<p><code>ipython nbconvert your_talk.ipynb --to slides --post serve --config slides_config.py</code></p>
<p>And you are done!</p>
<p><strong>NOTE</strong>: Don't forget to put your <code>ipynb</code>, <code>slides_config.py</code> and <code>default_transition.tpl</code> files in the same folder where you will run the <code>Ipython.nbconvert</code> command.</p>
<p>As you can see, the potentiality of this system (<code>Jinja</code> templating plus a powerful config system) is really big! We can achieve awesome <code>things</code> in a very easy way!</p>
<p>Any help, just let me know!</p>
<p>Damián</p>
</div>
        </div>
        
    <ul class="pager">
    
        <li class="previous">
            <a href="using-a-local-revealjs-library-with-your-ipython-slides.html">← Previous post</a>
        </li>
    
    
    </ul>

        
            
    
        
    
        <div id="disqus_thread"></div>
        <script type="text/javascript">
        var disqus_shortname ="damianblogcomments";
        
            var disqus_url="http://www.damian.oquanta.info//posts/change-the-ipython-slides-defaults-with-an-ipython-config-file.html";
        
        var disqus_title="Change the IPython slides defaults with an IPython config file";
        var disqus_identifier="cache/posts/change-the-ipython-slides-defaults-with-an-ipython-config-file.html";
        var disqus_config = function () {
            this.language = "";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">Comments powered by <span class="logo-disqus">Disqus</span></a>
    

    

        
        
    

    </div>

            Contents © 2013 <a href="mailto:damianavila82@yahoo.com.ar">Damian Avila</a> - 
Powered by <a href="http://getnikola.com">Nikola</a> - 
Zen theme based in <a href="https://github.com/arusahni/website-template">Arusahni's website-template</a><br>

<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/ar/">
<img alt="Creative Commons License BY-NC-SA" style="border-width:0; margin-bottom:12px;" src="http://i.creativecommons.org/l/by-nc-sa/2.5/ar/88x31.png"></a>
            
	
 <!-- Social buttons -->
 <div id="addthisbox" class="addthis_toolbox addthis_peekaboo_style addthis_default_style addthis_label_style addthis_32x32_style">
 <a class="addthis_button_more"><i class="icon-share-sign icon-2x"></i>    Share</a>
 <ul>
 <li><a class="addthis_button_twitter"><i class="icon-twitter icon-2x"></i>    Twitter</a>
 </li><li><a class="addthis_button_google_plusone_share"><i class="icon-google-plus-sign icon-2x"></i>    Google+</a>
 </li><li><a class="addthis_button_linkedin"><i class="icon-linkedin icon-2x"></i>    Linkedin</a>
 </li><li><a class="addthis_button_facebook"><i class="icon-facebook-sign icon-2x"></i>    Facebook</a>
 </li></ul>
 </div>
 <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f7088a56bb93798"></script>
 <!-- End of social buttons -->
 

        </div>
    </section>
    
    
        
            <script src="../assets/js/jquery-1.10.2.min.js" type="text/javascript"></script>
            <script src="../assets/js/jquery.timeago.js" type="text/javascript"></script>
        
        <script src="../assets/js/mathjax-onload.js" type="text/javascript"></script>
    

    
        <script type="text/javascript">
            $(function(){
                $('.timeago').timeago();
            });
        </script>
    
    
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33259189-1']);
  _gaq.push(['_setDomainName', 'oquanta.info']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    
</body>
</html>