<!DOCTYPE html><html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta name="description" content="My place to share some thoughts with the world.">
    <meta name="author" content="Damian Avila">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Damian's blog | Damian's blog</title>
    
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
    },
    displayAlign: 'left', // Change this to 'center' to center equations.
    "HTML-CSS": {
        styles: {'.MathJax_Display': {"margin": 0}}
    }
});
</script>

    
        
            <link href="assets/css/bitter.css" rel="stylesheet" type="text/css">
        
        <link href="assets/css/main.css" rel="stylesheet" type="text/css">
        <link href="assets/css/ipython.min.css" rel="stylesheet" type="text/css">
        <link href="assets/css/nikola_ipython.css" rel="stylesheet" type="text/css">
        
    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    
        
            
                <link rel="alternate" type="application/rss+xml" title="RSS (en)" href="rss.xml">
            
                <link rel="alternate" type="application/rss+xml" title="RSS (es)" href="./es/rss.xml">
            
        
    
    

    
    
    
</head>

<body>
    <section class="social">
        <ul>
<!--        <h1 id="blog-title">
            <a href="/" title="Damian's blog">Damian's blog</a>
        </h1>
        
        
        <small>
            Also available in:&nbsp;
            
    
        
    
        
            <a href="/./es/index.html">Español</a>
        
    

        </small>
        
         -->
        
    
        
            <li><a href="#" title="Home"><i class="icon-home"></i></a></li>
        
    
        
            <li><a href="archive.html" title="Archives"><i class="icon-folder-open-alt"></i></a></li>
        
    
        
            <li><a href="categories/index.html" title="Tags"><i class="icon-tags"></i></a></li>
        
    
        
            <li><a href="rss.xml" title="RSS"><i class="icon-rss"></i></a></li>
        
    
        
            <li><a href="portfolio/portfolio.slides.html" title="Portfolio"><i class="icon-briefcase"></i></a></li>
        
    
        
            <li><a href="stories/about-me.html" title="About me"><i class="icon-user"></i></a></li>
        
    
        
            <li><a href="https://twitter.com/damian_avila" title="My Twitter"><i class="icon-twitter"></i></a></li>
        
    
        
            <li><a href="https://github.com/damianavila" title="My Github"><i class="icon-github"></i></a></li>
        
    
        
            <li><a href="https://plus.google.com/u/0/106896109587369688379/posts" title="My Google+"><i class="icon-google-plus"></i></a></li>
        
    

<!--         -->
        </ul>
    </section>
    <section class="page-content">
        <div class="content" rel="main">
            
    
        <div class="post">
            <h1 class="title"><a href="posts/change-the-ipython-slides-defaults-with-an-ipython-config-file.html">Change the IPython slides defaults with an IPython config file</a></h1>
            <div class="meta">
                <div class="authordate">
                    <time class="timeago" datetime="2013-09-16T19:47:33">2013-09-16 19:47</time>
                </div>
                <div class="stats">
                
                    
    
        
    <p>
    
        <a href="posts/change-the-ipython-slides-defaults-with-an-ipython-config-file.html#disqus_thread" data-disqus-identifier="cache/posts/change-the-ipython-slides-defaults-with-an-ipython-config-file.html">Comments</a>
    

    

                
                </p></div>
                
    
    <div class="tags">
        <ul>
        More posts about:  
        
            <li><a class="tag" href="categories/python.html">python</a></li>
        
            <li><a class="tag" href="categories/ipython.html">IPython</a></li>
        
            <li><a class="tag" href="categories/nbconvert.html">nbconvert</a></li>
        
            <li><a class="tag" href="categories/reveal.html">reveal</a></li>
        
            <li><a class="tag" href="categories/slideshow.html">slideshow</a></li>
        
            <li><a class="tag" href="categories/config.html">config</a></li>
        
            <li><a class="tag" href="categories/jinja.html">jinja</a></li>
        
        </ul>
    </div>
    

            </div>
            <div class="body">
                <div class="text_cell_render border-box-sizing rendered_html">
<p>Some people are asking me how to change the <code>IPython slides's</code> defaults. You can see the description of the request <a href="http://stackoverflow.com/questions/18820253/modifying-reveal-js-defaults-in-ipython-notebook-slide-generation">here</a>. Essentially, he wants to change the default transition between the slides.</p>
<p>To solve this question, we introduce the notion of IPython config files, which let us easily change <em>things</em> inside <code>Ipython.nbconvert</code> (the library where the <code>IPython slides</code> lives) to achieve our desires, at least in the slideshow generation issue ;-) teaser</p>
<p>First of all, you need to know some details:</p>
<ul>
<li>The <code>IPython slides</code> are generated using a series of <code>Jinja</code> templates, so we are going to modify one of the templates to render the slideshow accordingly with our own defaults.</li>
<li>The <code>IPython.nbconvert</code> library was developed taking into account the need from some users to use customized <code>things</code> (where <code>thing</code> will be a <code>template</code> in this case, but we could modify other parts of <code>IPython.nbconvert</code>, probably I will cover this ideas in other posts).</li>
<li>The <code>IPython</code> machinery is very configurable through a <code>Traitlets</code> system! And because of this feature, <code>IPython.nbconvert</code> is able to take a custom config file and use it to render our <code>IPython slides</code> (or any other <code>IPython.nbconvert</code> <em>formats</em>).</li>
</ul>
<p>OK, can you show me an example config file? Of course, here we go:</p>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">
In [1]:
</div>
<div class="input_area box-flex1">
<div class="highlight"><pre><span class="o">!</span>cat /media/datos/Ejemplos/slides_config.py
</pre></div>

</div>
</div>

<div class="vbox output_wrapper">
<div class="output vbox">


<div class="hbox output_area"><div class="prompt"></div>
<div class="box-flex1 output_subarea output_stream output_stdout">
<pre>
c = get_config()

c.Exporter.template_file = 'default_transition'

</pre>
</div>
</div>

</div>
</div>

</div>
<div class="text_cell_render border-box-sizing rendered_html">
<p>From the IPython docs:</p>
<blockquote>
<p>A configuration file is simply a pure Python file that sets the attributes of a global, pre-created configuration object. This configuration object is a Config instance. While in a configuration file, to get a reference to this object, simply call the get_config() function. We inject this function into the global name-space that the configuration file is executed in,</p>
</blockquote>
<p>So, we have to call the <code>get_config()</code> function and then use a custom template called <code>'default_transition'</code> and assign it to <code>c.Exporter.template_file</code> attribute.</p>
<p>Oh, we need to write the <code>'default_transition'</code> template yet, so here we go... again:</p>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">
In [2]:
</div>
<div class="input_area box-flex1">
<div class="highlight"><pre><span class="o">!</span>cat /media/datos/Ejemplos/default_transition.tpl
</pre></div>

</div>
</div>

<div class="vbox output_wrapper">
<div class="output vbox">


<div class="hbox output_area"><div class="prompt"></div>
<div class="box-flex1 output_subarea output_stream output_stdout">
<pre>
{%- extends 'slides_reveal.tpl' -%}


{% block body %}

{{ super() }}

&lt;script&gt;

Reveal.initialize({

    // Display controls in the bottom right corner
    //controls: true,

    // Display a presentation progress bar
    //progress: true,

    // Push each slide change to the browser history
    //history: false,

    // Enable keyboard shortcuts for navigation
    //keyboard: true,

    // Enable touch events for navigation
    //touch: true,

    // Enable the slide overview mode
    //overview: true,

    // Vertical centering of slides
    //center: true,

    // Loop the presentation
    //loop: false,

    // Change the presentation direction to be RTL
    //rtl: false,

    // Number of milliseconds between automatically proceeding to the
    // next slide, disabled when set to 0, this value can be overwritten
    // by using a data-autoslide attribute on your slides
    //autoSlide: 0,

    // Enable slide navigation via mouse wheel
    //mouseWheel: false,

    // Transition style
    transition: 'concave', // default/cube/page/concave/zoom/linear/fade/none

    // Transition speed
    //transitionSpeed: 'default', // default/fast/slow

    // Transition style for full page backgrounds
    //backgroundTransition: 'default', // default/linear/none

    // Theme
    theme: 'sky' // available themes are in /css/theme

});

&lt;/script&gt;

&lt;/body&gt;
{% endblock body %}

</pre>
</div>
</div>

</div>
</div>

</div>
<div class="text_cell_render border-box-sizing rendered_html">
<p>In the first line, <code>{%- extends 'slides_reveal.tpl' -%}</code> we tell to the <code>Jinja</code> system that we are going to extend <code>slides_reveal</code> template (the default one, which <code>IPython.nbconvert</code> uses to build our common slides by default). Then, inside the <code>{% block body %}</code>, we call <code>super()</code>:</p>
<p>From the <code>Jinja</code> docs:</p>
<blockquote>
<p>Super Blocks It’s possible to render the contents of the parent block by calling super.</p>
</blockquote>
<p>We did it in this way because we want to render all the parent content and, after that, add our own content, essentially a config script for Reveal.js, calling <code>Reveal.initialize</code>.</p>
<p>OK, I have written a lot of configurable options you can play with, but I only left uncommented (and hence, they will be applied) the <code>transition: 'concave'</code> and <code>theme: 'sky'</code> options with my new choices, you can use your own ones.</p>
<p>Finally, you have to use the <code>IPython.nbconvert</code> library from command line, as usual, but pointing to the <code>IPython</code> config file you pretend to apply:</p>
<p><code>ipython nbconvert your_talk.ipynb --to slides --post serve --config slides_config.py</code></p>
<p>And you are done!</p>
<p><strong>NOTE</strong>: Don't forget to put your <code>ipynb</code>, <code>slides_config.py</code> and <code>default_transition.tpl</code> files in the same folder where you will run the <code>Ipython.nbconvert</code> command.</p>
<p>As you can see, the potentiality of this system (<code>Jinja</code> templating plus a powerful config system) is really big! We can achieve awesome <code>things</code> in a very easy way!</p>
<p>Any help, just let me know!</p>
<p>Damián</p>
</div>
            </div>
        </div>
    
        <div class="post">
            <h1 class="title"><a href="posts/using-a-local-revealjs-library-with-your-ipython-slides.html">Using a local Reveal.js library with your IPython slides</a></h1>
            <div class="meta">
                <div class="authordate">
                    <time class="timeago" datetime="2013-09-13T18:50:22">2013-09-13 18:50</time>
                </div>
                <div class="stats">
                
                    
    
        
    <p>
    
        <a href="posts/using-a-local-revealjs-library-with-your-ipython-slides.html#disqus_thread" data-disqus-identifier="cache/posts/using-a-local-revealjs-library-with-your-ipython-slides.html">Comments</a>
    

    

                
                </p></div>
                
    
    <div class="tags">
        <ul>
        More posts about:  
        
            <li><a class="tag" href="categories/python.html">python</a></li>
        
            <li><a class="tag" href="categories/ipython.html">IPython</a></li>
        
            <li><a class="tag" href="categories/nbconvert.html">nbconvert</a></li>
        
            <li><a class="tag" href="categories/reveal.html">reveal</a></li>
        
            <li><a class="tag" href="categories/slideshow.html">slideshow</a></li>
        
            <li><a class="tag" href="categories/local.html">local</a></li>
        
            <li><a class="tag" href="categories/connectivity.html">connectivity</a></li>
        
        </ul>
    </div>
    

            </div>
            <div class="body">
                <div class="text_cell_render border-box-sizing rendered_html">
<p>IPython slides are powered by <a href="https://github.com/hakimel/reveal.js/">Reveal.js</a> library, you probably already know that.</p>
<p>But... you probably don't know that we use <a href="http://www.jsdelivr.com/">jsdelivr</a> CDN to load all the necessary js and css files. As a consequence, you don't need to download Reveal.js, but also, the speaker notes are not working by default.</p>
<p>But... what happens, if you have low connectivity in the place where you will be presenting your talk (or if you want to use the speaker notes feature)? </p><p class="more"><a href="posts/using-a-local-revealjs-library-with-your-ipython-slides.html">Read more…</a></p></div>
            </div>
        </div>
    
        <div class="post">
            <h1 class="title"><a href="posts/different-ways-to-lead-an-open-source-project.html">Different ways to lead an open source project</a></h1>
            <div class="meta">
                <div class="authordate">
                    <time class="timeago" datetime="2013-09-13T01:40:50">2013-09-13 01:40</time>
                </div>
                <div class="stats">
                
                    
    
        
    <p>
    
        <a href="posts/different-ways-to-lead-an-open-source-project.html#disqus_thread" data-disqus-identifier="cache/posts/different-ways-to-lead-an-open-source-project.html">Comments</a>
    

    

                
                </p></div>
                
    
    <div class="tags">
        <ul>
        More posts about:  
        
            <li><a class="tag" href="categories/python.html">python</a></li>
        
            <li><a class="tag" href="categories/ipython.html">IPython</a></li>
        
            <li><a class="tag" href="categories/nikola.html">nikola</a></li>
        
            <li><a class="tag" href="categories/opensource.html">opensource</a></li>
        
        </ul>
    </div>
    

            </div>
            <div class="body">
                <div class="text_cell_render border-box-sizing rendered_html">
<p>Just a few lines, to trigger the discussion... to describe my point, I will pick two projects I have contributed (and I want to contribute even more): <code>IPython</code> and <code>Nikola</code>.</p>
<p>Some months ago, <strong>Brian Granger</strong>, a core developer from the <code>IPython</code> project gave a <a href="http://nbviewer.ipython.org/urls/raw.github.com/ellisonbg/talk-scipy2013/master/FeaturesAndScope.ipynb">talk</a> at <code>SciPy 2013</code> where he said: </p><p class="more"><a href="posts/different-ways-to-lead-an-open-source-project.html">Read more…</a></p></div>
            </div>
        </div>
    
        <div class="post">
            <h1 class="title"><a href="posts/a-new-nikolas-theme-for-my-site-zen.html">A new Nikola's theme for my site: Zen</a></h1>
            <div class="meta">
                <div class="authordate">
                    <time class="timeago" datetime="2013-09-09T21:10:18">2013-09-09 21:10</time>
                </div>
                <div class="stats">
                
                    
    
        
    <p>
    
        <a href="posts/a-new-nikolas-theme-for-my-site-zen.html#disqus_thread" data-disqus-identifier="cache/posts/a-new-nikolas-theme-for-my-site-zen.html">Comments</a>
    

    

                
                </p></div>
                
    
    <div class="tags">
        <ul>
        More posts about:  
        
            <li><a class="tag" href="categories/python.html">python</a></li>
        
            <li><a class="tag" href="categories/blog.html">blog</a></li>
        
            <li><a class="tag" href="categories/zen.html">zen</a></li>
        
            <li><a class="tag" href="categories/theme.html">theme</a></li>
        
            <li><a class="tag" href="categories/less.html">less</a></li>
        
            <li><a class="tag" href="categories/nikola.html">nikola</a></li>
        
            <li><a class="tag" href="categories/ipython.html">IPython</a></li>
        
        </ul>
    </div>
    

            </div>
            <div class="body">
                <div class="text_cell_render border-box-sizing rendered_html">
<p>Some days ago, <a href="https://plus.google.com/106780152352450272697/about">Aru Sahni</a> wrote to <a href="https://groups.google.com/forum/#!forum/nikola-discuss">Nikola's</a> forum and posted a link to his site... I really like the theme he was using so I though to take it as a starting point to develop my own theme. </p><p class="more"><a href="posts/a-new-nikolas-theme-for-my-site-zen.html">Read more…</a></p></div>
            </div>
        </div>
    
        <div class="post">
            <h1 class="title"><a href="posts/customizing-your-ipython-slides.html">Customizing your IPython slides</a></h1>
            <div class="meta">
                <div class="authordate">
                    <time class="timeago" datetime="2013-09-03T16:08:16">2013-09-03 16:08</time>
                </div>
                <div class="stats">
                
                    
    
        
    <p>
    
        <a href="posts/customizing-your-ipython-slides.html#disqus_thread" data-disqus-identifier="cache/posts/customizing-your-ipython-slides.html">Comments</a>
    

    

                
                </p></div>
                
    
    <div class="tags">
        <ul>
        More posts about:  
        
            <li><a class="tag" href="categories/python.html">python</a></li>
        
            <li><a class="tag" href="categories/ipython.html">IPython</a></li>
        
            <li><a class="tag" href="categories/nbconvert.html">nbconvert</a></li>
        
            <li><a class="tag" href="categories/reveal.html">reveal</a></li>
        
            <li><a class="tag" href="categories/slideshow.html">slideshow</a></li>
        
            <li><a class="tag" href="categories/css.html">css</a></li>
        
        </ul>
    </div>
    

            </div>
            <div class="body">
                <div class="text_cell_render border-box-sizing rendered_html">
<p>Some days ago, I received this message on G+:</p>
<blockquote>
<p>In a future release, would be handy to add custom classes to slides so that you can use CSS rules to choose certain layouts for image slides, text, multiple charts, etc.</p>
</blockquote>
<p>But... we already support this kind of customization! And it is clearly my fault that you don't know about this feature... so: </p><p class="more"><a href="posts/customizing-your-ipython-slides.html">Read more…</a></p></div>
            </div>
        </div>
    
        <div class="post">
            <h1 class="title"><a href="posts/a-little-hack-to-get-a-pdf-from-your-ipython-slides.html">A little hack to get a pdf from your IPython slides</a></h1>
            <div class="meta">
                <div class="authordate">
                    <time class="timeago" datetime="2013-08-30T20:25:39">2013-08-30 20:25</time>
                </div>
                <div class="stats">
                
                    
    
        
    <p>
    
        <a href="posts/a-little-hack-to-get-a-pdf-from-your-ipython-slides.html#disqus_thread" data-disqus-identifier="cache/posts/a-little-hack-to-get-a-pdf-from-your-ipython-slides.html">Comments</a>
    

    

                
                </p></div>
                
    
    <div class="tags">
        <ul>
        More posts about:  
        
            <li><a class="tag" href="categories/python.html">python</a></li>
        
            <li><a class="tag" href="categories/ipython.html">IPython</a></li>
        
            <li><a class="tag" href="categories/nbconvert.html">nbconvert</a></li>
        
            <li><a class="tag" href="categories/reveal.html">reveal</a></li>
        
            <li><a class="tag" href="categories/slideshow.html">slideshow</a></li>
        
            <li><a class="tag" href="categories/pdf.html">pdf</a></li>
        
        </ul>
    </div>
    

            </div>
            <div class="body">
                <div class="text_cell_render border-box-sizing rendered_html">
<p>A lot of users of the <code>slides</code> option in <code>IPython.nbconvert</code> asked me about how to get a pdf from the generated Reveal.js-based slideshow.</p>
<p>To make the story short, here you have the detailed steps: </p><p class="more"><a href="posts/a-little-hack-to-get-a-pdf-from-your-ipython-slides.html">Read more…</a></p></div>
            </div>
        </div>
    
        <div class="post">
            <h1 class="title"><a href="posts/zen-mode-extension-for-the-ipython-notebook.html">Zen mode extension for the IPython notebook</a></h1>
            <div class="meta">
                <div class="authordate">
                    <time class="timeago" datetime="2013-08-27T00:21:30">2013-08-27 00:21</time>
                </div>
                <div class="stats">
                
                    
    
        
    <p>
    
        <a href="posts/zen-mode-extension-for-the-ipython-notebook.html#disqus_thread" data-disqus-identifier="cache/posts/zen-mode-extension-for-the-ipython-notebook.html">Comments</a>
    

    

                
                </p></div>
                
    
    <div class="tags">
        <ul>
        More posts about:  
        
            <li><a class="tag" href="categories/python.html">python</a></li>
        
            <li><a class="tag" href="categories/ipython.html">IPython</a></li>
        
            <li><a class="tag" href="categories/zenmode.html">zenmode</a></li>
        
            <li><a class="tag" href="categories/javascript.html">javascript</a></li>
        
            <li><a class="tag" href="categories/extension.html">extension</a></li>
        
        </ul>
    </div>
    

            </div>
            <div class="body">
                <div class="text_cell_render border-box-sizing rendered_html">
<p>I write a lot stuff inside the IPython notebook.</p>
<p>And I thought it would be great to have a <em>sort</em> of <strong>Zen mode</strong> for the notebook...</p>
<p>I mean, a <em>peaceful</em> user interface to write my blog posts (and other stuff, of course).</p>
<p>So I wrote a little js extension which give me this <strong>Zen mode</strong>.</p>
<p>You can see some screen shots below: </p><p class="more"><a href="posts/zen-mode-extension-for-the-ipython-notebook.html">Read more…</a></p></div>
            </div>
        </div>
    
        <div class="post">
            <h1 class="title"><a href="posts/make-your-slides-with-ipython.html">Make your slides with IPython</a></h1>
            <div class="meta">
                <div class="authordate">
                    <time class="timeago" datetime="2013-08-23T09:25:44">2013-08-23 09:25</time>
                </div>
                <div class="stats">
                
                    
    
        
    <p>
    
        <a href="posts/make-your-slides-with-ipython.html#disqus_thread" data-disqus-identifier="cache/posts/make-your-slides-with-ipython.html">Comments</a>
    

    

                
                </p></div>
                
    
    <div class="tags">
        <ul>
        More posts about:  
        
            <li><a class="tag" href="categories/python.html">python</a></li>
        
            <li><a class="tag" href="categories/ipython.html">IPython</a></li>
        
            <li><a class="tag" href="categories/nbconvert.html">nbconvert</a></li>
        
            <li><a class="tag" href="categories/slideshow.html">slideshow</a></li>
        
            <li><a class="tag" href="categories/reveal.html">reveal</a></li>
        
        </ul>
    </div>
    

            </div>
            <div class="body">
                <div class="text_cell_render border-box-sizing rendered_html">
<p>With the integration of nbconvert inside IPython, the last 1.0 release has the possibility to export the ipynb to other formats such as rst, markdown, latex, html and slides (<a href="http://ipython.org/ipython-doc/stable/interactive/nbconvert.html">info</a>).</p>
<p>The slides option generates a Reveal.js-powered HTML slideshow, like this one: </p><p class="more"><a href="posts/make-your-slides-with-ipython.html">Read more…</a></p></div>
            </div>
        </div>
    
        <div class="post">
            <h1 class="title"><a href="posts/one-line-deployment-of-your-site-to-gh-pages.html">One line deployment of your site to gh-pages</a></h1>
            <div class="meta">
                <div class="authordate">
                    <time class="timeago" datetime="2013-08-21T08:17:00">2013-08-21 08:17</time>
                </div>
                <div class="stats">
                
                    
    
        
    <p>
    
        <a href="posts/one-line-deployment-of-your-site-to-gh-pages.html#disqus_thread" data-disqus-identifier="cache/posts/one-line-deployment-of-your-site-to-gh-pages.html">Comments</a>
    

    

                
                </p></div>
                
    
    <div class="tags">
        <ul>
        More posts about:  
        
            <li><a class="tag" href="categories/git.html">git</a></li>
        
            <li><a class="tag" href="categories/blog.html">blog</a></li>
        
            <li><a class="tag" href="categories/nikola.html">nikola</a></li>
        
            <li><a class="tag" href="categories/gh-pages.html">gh-pages</a></li>
        
            <li><a class="tag" href="categories/python.html">python</a></li>
        
        </ul>
    </div>
    

            </div>
            <div class="body">
                <div class="text_cell_render border-box-sizing rendered_html">
<p>Do you want to <strong>easily</strong> deploy your site to Github pages?</p>
<p>OK, here we go...</p>
<ol style="list-style-type: decimal">
<li><p>You have to upload your complete blog/site to a new Github repository (you know how to do it... if not, probably you need to learn some things before try this one, hehe). As a plus, now your blog/site is version-controlled!</p></li>
<li><p>Almost for sure, your site/blog lives in the master branch of the new repository, but you need to generated a <code>gh-pages</code> branch to push your <code>build</code> or <code>output</code> folder, I mean your site/blog content to deploy... not all the machinery of your site/blog platform (<strong>Nikola</strong> in my case): </p><p class="more"><a href="posts/one-line-deployment-of-your-site-to-gh-pages.html">Read more…</a></p></li></ol></div>
            </div>
        </div>
    
        <div class="post">
            <h1 class="title"><a href="posts/ipython-plugin-for-nikola-updated.html">IPython plugin for Nikola updated</a></h1>
            <div class="meta">
                <div class="authordate">
                    <time class="timeago" datetime="2013-08-12T16:40:29">2013-08-12 16:40</time>
                </div>
                <div class="stats">
                
                    
    
        
    <p>
    
        <a href="posts/ipython-plugin-for-nikola-updated.html#disqus_thread" data-disqus-identifier="cache/posts/ipython-plugin-for-nikola-updated.html">Comments</a>
    

    

                
                </p></div>
                
    
    <div class="tags">
        <ul>
        More posts about:  
        
            <li><a class="tag" href="categories/python.html">python</a></li>
        
            <li><a class="tag" href="categories/ipython.html">IPython</a></li>
        
            <li><a class="tag" href="categories/nikola.html">nikola</a></li>
        
            <li><a class="tag" href="categories/nbconvert.html">nbconvert</a></li>
        
        </ul>
    </div>
    

            </div>
            <div class="body">
                <div class="text_cell_render border-box-sizing rendered_html">
<p><strong>I am pleased to announce the new version of the IPython plugin for Nikola.</strong></p>
<p>This new version has been incorporated into Nikola master a few weeks ago, so it is now available in the last release of <strong>Nikola, 5.5.1.</strong></p>
<p>Now that <strong>IPython</strong> has achieved the <strong>1.0 release</strong>, and with the incorporation of nbconvert as a part of the IPython machinery, the IPython plugin no longer needs to use a customized version of the old nbconvert, instead it is now using the the power of the new <strong>IPython.nbconvert</strong> infrastructure to export the ipynb files to HTML pieces to be rendered by <strong>Nikola</strong>.</p>
<p>With the simplification of the infrastructure, it is now easier to setup your blog to use the plugin following this five steps: </p><p class="more"><a href="posts/ipython-plugin-for-nikola-updated.html">Read more…</a></p></div>
            </div>
        </div>
    
    
<div>
<ul class="pager">
  
  
    <li class="next">
        <a href="index-2.html">Older posts →</a>
    </li>
  
</ul>
</div>

    
    
        
    
       <script type="text/javascript">var disqus_shortname="damianblogcomments";(function(){var a=document.createElement("script");a.async=true;a.type="text/javascript";a.src="http://"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("HEAD")[0]||document.getElementsByTagName("BODY")[0]).appendChild(a)}());</script>
    

    

    
    
        <script src="assets/js/mathjax.js" type="text/javascript"></script>
    


            Contents © 2013 <a href="mailto:damianavila82@yahoo.com.ar">Damian Avila</a> - 
Powered by <a href="http://getnikola.com">Nikola</a> - 
Zen theme based in <a href="https://github.com/arusahni/website-template">Arusahni's website-template</a><br>

<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/ar/">
<img alt="Creative Commons License BY-NC-SA" style="border-width:0; margin-bottom:12px;" src="http://i.creativecommons.org/l/by-nc-sa/2.5/ar/88x31.png"></a>
            
	
 <!-- Social buttons -->
 <div id="addthisbox" class="addthis_toolbox addthis_peekaboo_style addthis_default_style addthis_label_style addthis_32x32_style">
 <a class="addthis_button_more"><i class="icon-share-sign icon-2x"></i>    Share</a>
 <ul>
 <li><a class="addthis_button_twitter"><i class="icon-twitter icon-2x"></i>    Twitter</a>
 </li><li><a class="addthis_button_google_plusone_share"><i class="icon-google-plus-sign icon-2x"></i>    Google+</a>
 </li><li><a class="addthis_button_linkedin"><i class="icon-linkedin icon-2x"></i>    Linkedin</a>
 </li><li><a class="addthis_button_facebook"><i class="icon-facebook-sign icon-2x"></i>    Facebook</a>
 </li></ul>
 </div>
 <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f7088a56bb93798"></script>
 <!-- End of social buttons -->
 

        </div>
    </section>
    
    
        
            <script src="assets/js/jquery-1.10.2.min.js" type="text/javascript"></script>
            <script src="assets/js/jquery.timeago.js" type="text/javascript"></script>
        
        <script src="assets/js/mathjax-onload.js" type="text/javascript"></script>
    

    
        <script type="text/javascript">
            $(function(){
                $('.timeago').timeago();
            });
        </script>
    
    
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33259189-1']);
  _gaq.push(['_setDomainName', 'oquanta.info']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    
</body>
</html>